/* NOTA GLOBAL: Se está usando Mobile First */


/*Reset*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: black;
}

/*Las dos filas con cuatro columnas del index*/
.categorias {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    margin: 0 20px;
}

/*Para que las imágenes no superen a sus contenedores*/
.categorias img {
    display: block;
    width: 100%;
}

/*Estilizar el título de cada página*/
header h1 {
    text-align: center;
    margin: 20px;
}

/*Estilizar la barra de navegación*/
nav ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

footer {
    text-align: center;
}

/*Estilizar el mensaje de bienvenida*/
.mensaje-bienvenida {
    text-align: center;
    font-size: large;
    margin: 40px 0;
}

/*Colocar cada página con la imagen a la izquierda y la descripción a la derecha*/

.pagina-arma {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin: 20px;
    align-items: flex-start;
}

.arma-imagen{
    width: 100%;
}

/**/

@media (min-width: 1024px) {
    nav ul{
        flex-direction: row;
    }

    .categorias{
        grid-template-columns: repeat(4, 1fr);
    }

    .pagina-arma{
        flex-direction: row;
    }

    .arma-imagen {
        width: 300px;
    }
}